body {
    font-family: Arial, sans-serif;
    background-color: transparent;
    background-image: url(/images/booking\ background\ image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: solid 5px rgb(161, 26, 26) ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    color: white;
    
   
  }

  label {
    font-weight: bold;
  }

  input[type="date"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }