.container>p {
    font-size: 4rem;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    

}

.text>p {

    font-size: large;

}

.text>p::first-letter {
    font-size: 3rem;
    font-weight: bold;
}
/* image html css starts */
.images {
    display: flex;
    flex-direction: row;
background-color: black;
    flex-wrap: wrap;

    justify-content: center;
    gap: .5rem;

}

.images>div {
    flex: 0 0 30%;
    display: flex;
   
   
}

.images>div>img {
    width: 100%;
    margin: 1rem;
    opacity: .5;
    flex: 1;
    filter: brightness(100%) saturate(100%);
    
}
.images>div>img:hover{
    transform: scale(1.1);
    transition: .5s;
    border-radius: 10px;
    opacity: 1;
    
}


.back-button-div {
    text-align: center;
    
    margin-top: 2rem;
}

.back-button {
    display: inline-block;
    border-radius: 30px;
    background-color: #ca9b52;
    border: 2px solid transparent;
    text-decoration: none;
    font-size: large;
    color: white;
    padding: .5rem 1rem;
    
}
iframe{
    height: 20rem;
    width: 20rem;
}
.map{
    padding-left: 3.9rem;
}
.back-button-div {
    text-align: center;
    
    margin-top: 2rem;
}

.back-button {
    display: inline-block;
    border-radius: 30px;
    background-color: #ca9b52;
    border: 2px solid transparent;
    text-decoration: none;
    font-size: large;
    color: white;
    padding: .5rem 1rem;
}